# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Build artifacts
bin/
obj/
dist/
build/
*.exe
*.dll
*.pdb
*.suo
*.user
*.log
*.vspscc

# Dependencies
node_modules/
vendor/

# Operating System Files
.DS_Store
Thumbs.db

# Other common ignored files
.env
*.bak
*.tmp
